tensorflow==2.12.0
beautifulsoup4
pandas
scikit-learn
jupyter
matplotlib
numpy
requests
selenium
Scrapy
pyyaml
openpyxl
xlrd
mysqlclient
tinydb
scipy
scikit-image
h5py
graphviz
pydot
konlpy
jpype1
gensim
Pillow
opencv-python
